body {
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
}
.todo {
  margin-bottom: 1rem;
  list-style-type: none;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}
